over_mate_1_tactic_evals.csv
chess_precomputed.h5
chess_raw.h5
fields.h5
mate_trajectories.h5
chess_phase1_last.pt
chess_phase2_last.pt
chess_phase2_best.pt
chess_phase1_best.pt
best.pt
last.pt
last_buffer.pkl
best_buffer.pkl
chessData.csv
filtered_games.csv
lichess_db_standard_rated_2025-12.pgn.zst
lichess_db_puzzle.csv
advantages_training_dataset.csv
advantages_training_dataset_under_1200.csv
last_divergent.pt
last_divergent_buffer.pkl
stockfish_lichess.csv
stockfish_lichess_20m.csv
meta.json
n_children.npy
child_fens.npy
lichess_db_eval.jsonl.zst
stockfish_lichess_60m.csv
stockfish_lichess_fixed.csv
stockfish_lichess_60m_fixed.csv
/Pointer/C++_part/build
/Pointer/C++_part/onnxruntime-*/
/Pointer/C++_part/chess-library/
/Pointer/C++_part/copy_build/