over_mate_1_tactic_evals.csv
chess_precomputed.h5
chess_raw.h5
fields.h5
mate_trajectories.h5
chess_phase1_last.pt
chess_phase2_last.pt
chess_phase2_best.pt
chess_phase1_best.pt
best.pt
last.pt
last_buffer.pkl
best_buffer.pkl
chessData.csv
filtered_games.csv
lichess_db_standard_rated_2025-12.pgn.zst